#concept {
    background: linear-gradient(180deg,$light 0%,$light 50%, $dark 50%, $dark 100%);
    width: 100%;
    height: 967px;
    @include tab {
        background: linear-gradient(180deg, $light 0px,$light 176px,$dark 176px, $dark 100%);
        height: 711px;
    }
}

#concept img {
        width: 100%;
        height: 100%;
        @include sp {
            height: 205px;
            object-fit: cover;
            object-position: 100%;
        }
}

.concept-wrap {
    display: flex;
    margin: 0 8%;
    @include tab {
        margin: 0 auto;
        padding-top: 50px;
    }
}

.concept-img-one {
    width: 63%;
    @include sp {
        width: 50%;
        height: 205px;
        padding-left: 20px;
    }
}

.concept-img-two {
    width: 37%;
    margin-left: 11px;
    @include sp {
        width: 50%;
        height: 205px;
        padding-right: 20px;
    }
}

.concept-mes {
    display: flex;
    margin: 92px 14.3% 129px 14.3%;
    justify-content: center;
    align-items: center;
    @include tab {
        margin: 0 auto;
        flex-direction: column;
        padding-top: 50px;
    }
}

.concept-mes-one {
    width: 445px;
    height: 42px;
    text-align: center;
    font-size: 4rem;
    color: #ffffff;
    font-family: ヒラギノ明朝 Pro;
    @include tab {
        margin-bottom: revert;
    }
    @include sp {
        font-size: 18px;
        background-size: cover;
        padding: 50px 88px 18px;
    }
}

.concept-mes-two {
    font-size: 1.6rem;
    color: #ffffff;
    font-family: ヒラギノ角ゴ Pro;
    width: 380px;
    @include sp {
        font-size: 16px;
        background-size: cover;
        margin-right: 0%;
        padding: 18px 21px 64px;
        width: auto;
    }
}