footer {
    height: 342px;
    @include sp {
        height: 260px;
        margin: 0 8.3%;
    }
}

.ft-line{
    display: inline-block;
    content: "";
    border-bottom: 1px solid #70707036;
    width: 83%;
    height: 164px;
    margin: 0 8.3%;
    @include sp {
        height: 63px;
    }
}

.ft-wrap {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 83px 8.3% 0;
    align-items: center;
    @include sp {
        height: 196px;
        margin: 0;
        flex-direction: column-reverse;
    }
}

.name-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include sp {
        width: 89%;
        padding-bottom: 19px;
    }
}

.ft-name {
    width: 258px;
    height: 32px;
    font-size: 32px;
    color: #7070704D;
    text-align: start;
    @include sp {
        width: auto;
        height: 18px;
        font-size: 1.8rem;
        margin: 0%;
        text-align: start;
    }
}

.fab-wrap {
    font-size: 22px;
    display: flex;
    @include sp {
        width: 13.6%;
    }  
}

.fa-facebook-square {
    margin-left: 9px;
}

.ft-btn {
    width: 184px;
    height: 37px;
    font-size: 1.8rem;
    color: #707070;
    line-height: normal;
    background: none;
    font-family: Roboto Mono for Powerline;
    @include tab{
        width: 14.3%;
        min-width: 140px;
    }
    @include sp {
        min-width: 184px;
        transform: translate(0, 60px);
    }
}