#menu img {
    width: 100%;
}

.menu-wrap {
    display: flex;
    justify-content: space-between;
    padding: 11px 107px 70px;
    @include tab {
        flex-direction: column;
        padding: 0 5.3%;
    }
}

.menu-item {
    width: 274px;
    text-align: center;
    @include tab {
        width: 100%;
        padding-top: 40px;
    }
}
.menu-item-title {
    font-size: 3rem;
    padding-top: 37px;
}
.menu-item-desc {
    font-size: 1.6rem;
    padding-top: 34px;
    text-align: left;
    line-height: 1.5;
}

.menu-money {
    font-size: 1.6rem;
    padding-top: 34px;
    text-align: right;
}